# Credenciales reales
config.php

# Dependencias (si hubiera)
vendor/

# Sistema
.DS_Store
*.log
logs/

# Restos de Node / Vite (por si quedan)
node_modules/
dist/
dist-ssr/
*.local

# Editores
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite/
